<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>These are the recipes:</h2>
        
        <ul id="recipe-list" class="list-group">
          {{#each recipes}}
          <li data-id="{{this.id}}" class="list-group-item">
            <h3>{{this.name}}</h3>
            <p>Cuisine: {{this.cuisine}}</p>
            <p>Instructions: {{this.instructions}}</p>            
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
